<h3>Data Dispatcher Preview ({{ keyword }})</h3>

<div>
    <h4>HTTP request config</h4>
    <div>
        {% include 'preview/data-table.html.twig' with { 'tableData': config } %}
    </div>
</div>

{% if headers is not empty %}
    <div>
        <h4>Headers</h4>
        <div>
            {% include 'preview/data-table.html.twig' with { 'tableData': headers, 'tableKeyHeader': 'Name', 'tableValueHeader': 'Value' } %}
        </div>
    </div>
{% endif %}

{% if cookies is not empty %}
    <div>
        <h4>Cookies</h4>
        <div>
            {% include 'preview/data-table.html.twig' with { 'tableData': cookies, 'tableKeyHeader': 'Name', 'tableValueHeader': 'Value' } %}
        </div>
    </div>
{% endif %}

<div>
    <h4>Body</h4>
    {% include 'preview/info-box.html.twig' with { 'info': body, 'preformatted': true } %}
</div>

<div>
    <h4>Processed data</h4>
    <div>
        {% include 'preview/data-table.html.twig' with { 'tableData': data, 'tableKeyHeader': 'Field', 'tableValueHeader': 'Value' } %}
    </div>
</div>
